*.iml
.gradle
/local.properties
.idea
.idea/*
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
app/mirumi-23884-firebase-adminsdk-fbsvc-ce13046c20.json
app/src/main/java/es/mirumi/es/google-services.json
